{% extends "layout.html" %}
{% block body %}

<h2>Risk Analysis</h2>

{# FORM TO UPDATE PROCESS DETAILS #}
<fieldset>
<h2>Process<h2>
{% for process in process_table %}
{% set process_id = process.process_id %}
<form class="ui form" action="/update_process" method="POST">
    <input type="hidden" name="process_id" value="{{process_id}}">
{#
    <h2>{{process.process_name}}</h2>
    <div class="field">
      <label>Process id</label>{{process.process_id}}
    </div>
#}
    <div class="field">
      <label>Process name</label>
      <input type="text" name="process_name" value="{{process.process_name}}">
    </div>
    <div class="field">
      <label>Process description</label>
      <textarea rows="4" name="description" cols=50>{{process.process_description}}</textarea>
    </div>
    <input class="ui button" type="submit" name="action" value="Apply process changes">
  </form>
{% endfor %}
</fieldset>
<br>
<br>

{# FORM TO SELECT ASSET TO UPDATE, ADD OR DELETE #}
<fieldset>
{% for asset in asset_table %}
{% set asset_id = asset.asset_id %}
<form class="ui form" action="/update_asset" method="POST">
  <h2>Critical Information</h2>

    <div class="field">
    <label>Asset name</label>
    <div class="ui input">
      <input type="text" name="asset_name" value="{{asset.asset_name}}">
    </div>
   </div>

    <div class="field">
    <label>Asset description</label>
    <textarea rows="4" name="asset_description" cols=50>{{asset.asset_description}}</textarea>
    </div>

    <div class="field">
    <label>Asset owner</label>
    <div class="ui input">
      <input type="text" name="asset_owner" value="{{asset.asset_owner}}">
    </div>
   </div>

   {% set check_c="" %}
   {% set check_i="" %}
   {% set check_a="" %}
   {% if asset.asset_criticality_c == "True" %} {% set check_c="checked" %} {% endif %}
   {% if asset.asset_criticality_i == "True" %} {% set check_i="checked" %} {% endif %}
   {% if asset.asset_criticality_a == "True" %} {% set check_a="checked" %} {% endif %}
   <div class="inline field">
     <div class="ui checkbox">
       <input type="checkbox" name="asset_criticality_c" value ="True" {{ check_c }} tabindex="0" class="hidden">
       <label>Confidentiality critical</label>
     </div>
    </div>

    <div class="inline field">
      <div class="ui checkbox">
        <input type="checkbox" name="asset_criticality_i" value ="True" {{ check_i }} tabindex="0" class="hidden">
        <label>Integrity critical</label>
      </div>
    </div>

    <div class="inline field">
      <div class="ui checkbox">
        <input type="checkbox" name="asset_criticality_a" value ="True" {{ check_a }} tabindex="0" class="hidden">
        <label>Availability critical</label>
      </div>
    </div>

     <div class="field">
    Recovery point objective
    <select class="ui fluid dropdown" name="asset_rpo_days">
      <option>{{asset.asset_rpo_days}}</option>
      {% for element in rxo_values %}
      <option>{{element}} </option>
      {% endfor %}
    </select>
  </div>

  <div class="field">
    Recovery time objective
    <select class="ui fluid dropdown" name="asset_rto_days">
      <option>{{asset.asset_rto_days}}</option>
      {% for element in rxo_values %}
        <option>{{element}} </option>
      {% endfor %}
    </select>
  </div>

  <input type="hidden" name="process_id" value="{{ process_id }}">
  <input type="hidden" name="asset_id" value="{{ asset_id }}">
  <input class="ui button" type="submit" name="action" value="Apply asset changes">

</form>
{% endfor %}
</fieldset>
<br>
<br>







{# #}
<fieldset>
<h2>Threats</h2>
{% for threat in threat_table %}
<form class="ui form" action="/update_threat" method="POST">
    <input type="hidden" name="process_id" value="{{process_id}}">

    <div class="field">
      <label>Threat name</label>
      <input type="text" name="threat_name" value="{{threat.threat_name}}">
    </div>

    <div class="field">
      <label>Threat description</label>
      <textarea rows="4" name="description" cols=50>{{threat.threat_description}}</textarea>
    </div>

  <h4>Impact analysis</h4>
    <table class="ui celled table">
    <tr>
    <td>Impact area</td>
    <td>Low</td>
    <td>Medium</td>
    <td>High</td>
    <td>Critical</td>
    </tr>
    {% for impact_score in threat.impact_scores %}
       {% set check0=""  %}
       {% set check1=""  %}
       {% set check2=""  %}
       {% set check3=""  %}
       {% if impact_score.score == 0 %}{% set check0="checked"%}{% endif %}
       {% if impact_score.score == 1 %}{% set check1="checked"%}{% endif %}
       {% if impact_score.score == 2 %}{% set check2="checked"%}{% endif %}
       {% if impact_score.score == 3 %}{% set check3="checked"%}{% endif %}
    <tr>
    <td>
        {% for global_impact in global_impact_details %}
        {% if global_impact.type == impact_score.type %}
        {{global_impact.description}}
	{% endif %}
        {% endfor %}
    </td>
     <td>   
        </div>
        </div>
        </div>
       <input type="radio" name="{{impact_score.type}}" value="0" required {{ check0 }}>
        {% for global_impact in global_impact_details %}
        {% if global_impact.type == impact_score.type %}
         <label>{{global_impact.low}}</label>
	{% endif %}
        {% endfor %}
        </div>
        </div>
        </div>
     </td>
     <td>
       <div class="inline fields">
       <div class="field">
       <div class="ui radio checkbox">
       <input type="radio" name="{{impact_score.type}}" value="1" required {{ check1 }}>
        {% for global_impact in global_impact_details %}
        {% if global_impact.type == impact_score.type %}
         <label>{{global_impact.medium}}</label>
	{% endif %}
        {% endfor %}
        </div>
        </div>
        </div>
     </td>
     <td>
       <div class="inline fields">
       <div class="field">
       <div class="ui radio checkbox">
       <input type="radio" name="{{impact_score.type}}" value="2" required {{ check2 }}>
        {% for global_impact in global_impact_details %}
        {% if global_impact.type == impact_score.type %}
         <label>{{global_impact.high}}</label>
	{% endif %}
        {% endfor %}
        </div>
        </div>
        </div>
     </td>
     <td>
       <div class="inline fields">
       <div class="field">
       <div class="ui radio checkbox">
       <input type="radio" name="{{impact_score.type}}" value="3" required {{ check3 }}>
        {% for global_impact in global_impact_details %}
        {% if global_impact.type == impact_score.type %}
         <label>{{global_impact.critical}}</label>
	{% endif %}
        {% endfor %}
        </div>
        </div>
        </div>
     </td>
     <td>
    </td>
    </tr>
    {% endfor %}
    </table>

    <input class="ui button" type="submit" name="action" value="Apply threat changes">

<h4>Probability Analysis</h4>
MISSING!

<h4>Risk Treatment Decision</h4>
Latest recorded threat score is: {{threat.risk_score}} 
<br>
The threat score is a number between 0 and 10.

The available risk treatment options are:
<ul>
<li>Modify: Implement or change security controls (see Control Selection below)</li>
<li>Retention: Management are accepting the risk</li>
<li>Avoid: The process and critical information are avoided</li>
<li>Share: Share the risk with external parties like insurance companies or outsourcing partners</li>
</ul>
<br>

Risk treatment selection:
{{ threat.threat_action}}
<br>
Risk treatment status
{{ threat.threat_action_executed}}


<h4>Control selection</h4>
  <table class="ui celled table">
  <thead>
    <tr>
      <th>Container</th>
      <th>Controls</th>
    </tr>
    {% for container in threat.containers %}
    <tr>
  </thead>
  <td> 
    <form class="ui form" action="/update_threat" method="POST">
      {{container.container_name}} 
      <input class="red mini ui button" type="submit" name="action" value="Delete container">
    </form>
  </td>
  <td>
    {% for control in container.container_controls %}
    <form action="update_threat" method="POST">
      {{control.control_id}} {{control.control_name}}
      <input class="red mini ui button" type="submit" name="action" value="Delete control">
    </form>
    {% endfor %}
        <div class="field">
        <select class="ui search dropdown" name="control_id"> 
          <option selected></option>
          {% for control_lib_item in control_library.control_library %}
            <option value="{{control_lib_item.control_id}}"> 
              {{control_lib_item.control_id}} {{control_lib_item.control_name}} 
            </option> 
          {% endfor %}
        </select>
        </div>
        <div class="inline fields">
        <div class="field">
        <input class="ui button" type="submit" name="action" value="Add control">
        </div>

    </div>
  </td>
    {% endfor %}
  </tr>  

  <div class="inline fields">
  <div class="field">
  <input class="ui button" type="submit" name="action" value="Add container">
  </div>
  <div class="field">
   <select class="ui dropdown" name="container_name">
          <option selected></option>
          {% for container in container_library|sort(attribute='container_name') %}
          <option value={{container.container_name}}> {{container.container_name}} </option>
          {% endfor%}
        <select>
      </div>
  </div>

{# Threat loop ends here#}
</form>
{% endfor %}
</fieldset>

{% endblock %}

