{% extends "layout.html" %}
{% block body %}

<h3>All Risks</h3>
This list show all risks recorded in OpenISMS.
<table class="ui celled table">
<thead>
  <tr><th>Control ID</th><th>Control Name</th><th>Required?</th><th>Information to cover</th><th>Containers to cover</th><th>Deliverables</th><th>Rationale for including/excluding</th></tr>
</thead>
<tbody>
  {% for control in control_table %}
  <tr><td>
     {{control.control_id}}
  </td><td>
     {{control.control_name}}
  </td><td>
   to be added
  </td><td>
   to be added
  </td><td>
   to be added
  </td><td>
   to be added
  </td><td>
   to be added
  </td>
  <tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}
