{% extends "layout.html" %}
{% block body %}
<H3>Documents</H3>
<p>This page is an inventory of documents used to implement the ISMS.</p>
<p>NOTE: You can assess and add documents in the documents  section of the assessments/data.json file.</p>

<table class="ui celled table">
<thead>
  <tr>
  <th>Document name</th> 
  <th>Type</th>
  <th>Link</th>
  <th>Maturity current</th>
  <th>Maturity planned</th>
  </tr>
</thead>
{% for document in documents %}
  <tr><td>{{ document.name }} </td><td> {{ document.type}} </td> <td> {{ document.link }} </td><td> {{ document.maturity_current}} </td><td> {{ document.maturity_planned }} </td></tr>
{% endfor %}
</table>

{% endblock %}
