{% extends "layout.html" %}
{% block body %}

<h2>Processes</h2>

<form class="ui form" action="/load_process_form" method=GET>
{% for process in process_list|sort(attribute='name') %}
<div class="field">
  <div class="ui radio checkbox">
    <input type="radio" name="process_id" value="{{process._id}}" required>
    <label>{{process.name}}</label>
  </div>
</div>
{% endfor %}

<input class="ui button" type=submit name="action" value="New process" formnovalidate>
<input class="ui button" type=submit name="action" value="Update process">
<input class="ui button" type=submit name="action" value="Delete process">
</form>
{% endblock %}

