{% extends "layout.html" %}
{% block body %}

<h2>Risk Report</h2>
{% for process in data.processes %}

<h3>Details for {{process.name}}</h3>
<!-- List all critical information assets and processes -->
<h4>Critical information</h4>
<!-- Table have columns: Process | Cr.I.As. | Desr. | Criticality  -->
<table class="ui celled table">
<thead>
  <tr>
  <th>Critical Information</th>
  <th>Description</th>
  <th>Confidentiality critical</th>
  <th>Integrity critical </th>
  <th>Availability critical </th>
  <th>RTO</th>
  <th>RPO</th>
  <th>Information Owner</th>
  </tr>
</thead>
  <tbody>
    {% for asset in process.assets %}
        <tr>
        <td>{{asset.name}}</td>
        <td>{{asset.description}}</td>
        <td>{{asset.criticality_c}}</td>
        <td>{{asset.criticality_i}}</td>
        <td>{{asset.criticality_a}}</td>
        <td>{{asset.rto_days}}</td>
        <td>{{asset.rpo_days}}</td>
        <td>{{asset.owner}}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Create table of threats, impact, likelihood, and risk per critical asset -->
<h4>Containers</h4>
<table class="ui celled table">
<thead>
  <tr>
  <th>Container</th>
  <th>Critical Information</th>
  <th>Threats</th>
  <th>Controls</th>
  </tr>
</thead>
<tbody>
  {% for container in containers %}
  {% if container.process_name==process.name %}
  <tr>
  <td>{{container.name}}</td>
  <td>
  <ul>
  {% for container in container.assets %}
  <li>{{container}}</li>
  {% endfor %}
  </ul>
  </td>
  <td>
  <ul>
  {% for container in container.threats %}
  <li>{{ container }}</li>
  {% endfor %}
  </ul>
  </td>
  <td>
  {% for control in container.controls %}
  {{control}} <br>
  {% endfor%}
  </td>
  </tr>
  {% endif %}
  {% endfor %}
</tbody>
</table>


<!-- Create table of threats, impact, likelihood, and risk per critical asset -->
<h4>Threats</h4>
<table class="ui celled table">
<thead>
  <tr>
  <th>Threat</th> 
  <th>Description</th>
  <th>Affected Information</th>
  <th>Impact</th>
  <th>Probability</th>
  <th>Risk</th>
  <th>Sufficient Control implemented</th>
  </tr>
</thead>
  <tbody>
    {% for threat in threats|sort(attribute='score_risk',reverse=True)   %}
    {% if threat.process_name==process.name %}
    <tr>
      <td>{{threat.threat_name}}</td>
      <td>{{threat.threat_description}}</td>
      <td>
        <ul>
          {% for asset in threat.affected_assets %}
          <li>{{asset}}</li>
          {% endfor %}
        </ul>
      </td>
      <td>{{threat.score_impact}}</td>
      <td>{{threat.score_probability}}</td>
      <td>{{threat.score_risk}}</td>
      <td>{{threat.is_controlled}}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>

<!-- Create table of controls in use for current process -->
<h4>Control list (aggregated)</h4>
<table class="ui celled table">
<thead>
  <tr>
  <th>Control ID</th> 
  <th>Control Name</th>
</tr>
</thead>
<tbody>
  {% for control in controls  %}
  {% if control.process_name==process.name %}
  <tr>
    <td>{{control._id}}</td>
    <td>{{control.name}}</td>
  </tr>
  {% endif %}
  {% endfor %}
</tbody>
</table>

{% endfor %}
{% endblock %}
