{% extends "layout.html" %}
{% block body %}

<h3>All Risks</h3>
This list show all risks recorded in OpenISMS.
<table class="ui celled table">
<thead>
  <tr><th>Process Name</th><th>Risk Name</th><th>Risk Score<br>(0-10)</th><th>Asset Owner</th><th>Sufficient mitigation implemented?</th></tr>
</thead>
<tbody>
  {% for threat in threat_table|sort(attribute='risk_score', reverse = True) %}
  <tr><td>
     {{threat.process_name}}
  </td><td>
     {{threat.asset_name}} - {{threat.threat_name}}
  </td><td>
     {{threat.risk_score}}
  </td><td>
     {{threat.asset_owner}}
  </td><td class="center aligned">
     {% if threat.threat_action_executed=="True" %} Yes {% endif %}
     {% if threat.threat_action_executed=="False" %} No {% endif %}
     {% if threat.threat_action_executed=="" %} Not assessed {% endif %}
  </td>
  <tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}
